@model Hackathon.Models.BlockChainAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlockChainAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlockChainAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
