@model IEnumerable<Hackathon.Models.ExchangeAccountMovement>
@{
    ViewBag.Title = "OverView";
}


<h4>OverView</h4>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeService.ExchangeServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceInvoice.PaymentService)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.AmountDeposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SourceDeposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountWithdrawal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DestinationWithdrawal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeService.ExchangeServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceInvoice.PaymentService)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AmountDeposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceDeposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountWithdrawal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationWithdrawal)
            </td>
            <td>
                
            </td>
        </tr>
    }

</table>
