@model IEnumerable<Hackathon.Models.ContractedServiceConfiguration>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeAccount.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeService.ExchangeServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeServiceParameter1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeServiceParameter2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeServiceParameter3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeServiceParameter4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeServiceParameter5)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeAccount.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeService.ExchangeServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeServiceParameter1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeServiceParameter2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeServiceParameter3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeServiceParameter4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeServiceParameter5)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ContractedServiceConfigurationId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ContractedServiceConfigurationId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ContractedServiceConfigurationId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
