@model IEnumerable<Hackathon.Models.Invoice>
@{
    ViewBag.Title = "Simulate Payment";
    Layout = "../Shared/_LayoutPaymentGateWay.cshtml";
}



<h4>Simulate Payment</h4>
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuerCompany.IBAN)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvoiceValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuerCompany.IBAN)
            </td>
            <td>
                @Html.ActionLink("Pay", "Pay", new { id = item.InvoiceId })
            </td>
        </tr>
    }

</table>

