@model IEnumerable<Hackathon.Models.Entities.System.ExchangeAccountMovement>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractedServiceConfiguration.ExchangeServiceParameter1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiversificationPlanItem.Observations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeAccount.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeService.ExchangeServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceInvoice.PaymentService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountDeposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceDeposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountWithdrawal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationWithdrawal)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractedServiceConfiguration.ExchangeServiceParameter1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiversificationPlanItem.Observations)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeAccount.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExchangeService.ExchangeServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceInvoice.PaymentService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountDeposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceDeposit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountWithdrawal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationWithdrawal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ExchangeAccountMovementId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ExchangeAccountMovementId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ExchangeAccountMovementId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
